Source: openssh-ldap-publickey
Maintainer: Platform.sh <sayhello@platform.sh>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/platformsh/openssh-ldap-publickey
Vcs-Git: git://github.com/platformsh/openssh-ldap-publickey


Package: openssh-ldap-publickey
Architecture: all
Depends: ${misc:Depends},
         perl (>= 5), 
         perl (<< 6), 
         libnet-ldap-perl, 
         libio-socket-ssl-perl
Description: Wrapper for OpenSSH to store public keys inside the OpenLDAP entry
 This tool allows you to store SSH Public keys into your LDAP directory and use
 them without the need of patching SSH server.
